<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Facebook, Inc. and its affiliates. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.witai.foopyschoice">

    <!-- Added permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_food"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_food_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.facebook.witai.foopyschoice.Sunny1"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Sunny2"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Sunny3"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Sunny4"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Sunny5"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Rainy1"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Rainy2"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Rainy3"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Rainy4"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Rainy5"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Cloudy1"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Cloudy2"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Cloudy3"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Cloudy4"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Cloudy5"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Snowy1"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Snowy2"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Snowy3"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Snowy4"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Snowy5"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Windy1"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Windy2"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Windy3"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Windy4"></activity>
        <activity android:name="com.facebook.witai.foopyschoice.Windy5"></activity>

        <activity android:name="com.facebook.witai.foopyschoice.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>